
# DMT 2022 - Homework 2


# Instructions for the homework
  > Follow the instructions in the notebook carefully


## General instructions
  * Do NOT remove ANYTHING that is already in the notebook.
  * Before you start, show the line number for the code cells:
    * Go to Tools -> Settings -> Editor -> show line numbers
  * Having **EXACTLY TWO** students per group is **MANDATORY**
  * The software must be commented.
  * The notebook will be converted to a PDF, so you must use prints and plots that are displayed in the derived PDF.
  * About this notebook:
    * Create a personal copy to be able to modify it: File > Save a copy in Drive
    * Rename the copied notebook `DMT2022-HW2.ipynb`


## Instructions for **code**:
  * DO NOT add code cells
  * DO NOT remove any code cells
  * Only edit the code cells containing the comment `#YOUR CODE STARTS HERE#`. Within those cells:
    * DO NOT remove ANYTHING that we have written (otherwise specified). In particular, the line `#REMOVE_OUTPUT#` is used in some cells to remove the output of those cells when the notebook is converted to PDF.
    * Add your code between line `#YOUR CODE STARTS HERE#` and line `#YOUR CODE ENDS HERE#`; **DO NOT REMOVE THESE COMMENTS**
    * **The last line in each code cell is #THIS IS LINE \<TOT>#, where \<TOT> is a line number. The notebook is constructed so that \<TOT> matches with the line number in which it is written, but it may of course move as you add your code. Make sure that, when you deliver it, that comment returns to line \<TOT>. DO NOT CHANGE THE \<TOT> VALUE. Of course, this means that you have a limited number of lines of code that you may NOT exceed under any circumstances. On the other hand, if your code is shorter than that, you have to reach that line number with empty lines.**

[comment]: <> (#REMOVE_CELL#)


## Instructions for **text**:
* DO NOT add text cells
* DO NOT remove text cells
* DO NOT modify the text cells we have created.
* Only edit text cells starting with the comment ----------YOUR TEXT STARTS HERE----------. Within those cells:
  * Do NOT remove anything we have entered.
  * **Add your own text after the line ----------YOUR TEXT STARTS HERE----------; DO NOT REMOVE THIS TEXT**
  * For each cell, a specific delivery will be given. If you are given a maximum number of sentences to write, both the dot "." and the semicolon ";" will be considered sentence dividers.

[comment]: <> (#REMOVE_CELL#)


# Homework

The homework consists of two parts:

  1. PageRank

  and

  2. Recommendation System

## Group composition:

Write down the list of group members. The format should be Last Name, First Name, Serial Number. Group members should be sorted alphabetically by surname and placed on different lines.
Example:

Fazzone, Adriano, 987654

Siciliano, Federico, 999888

----------YOUR TEXT STARTS HERE----------

Mattei, Luca, 1852190

Pandolfo, Mario Edoardo, 1835189

# Part 1
In this part of the homework, you have to deal with the PageRank algorithm.

## Part 1.0
Import **ALL** the Python packages that you need for Part 1.

In [ ]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
import numpy as np
import pandas as pd
!pip install scikit-network
import sknetwork


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-network in /usr/local/lib/python3.7/dist-packages (0.26.0)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.7.3)
Requirement already satisfied: numpy>=1.21.5 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.21.6)

## Part 1.1
Using the provided dataset, you must run various PageRank algorithms.
The dataset for this part is an unweighted and undirected graph, where nodes represent characters from the "Harry Potter" books and an edge connects two characters in the graph if their names appeared at least one time within 14 words of one another in at least one of the books.

### 1.1.1
Download the dataset from the Drive link (code already provided).

In [ ]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
#REMOVE_OUTPUT#
!gdown 11Fa9zqDPgDthm3B84My1flWN6r-ffpY0 #download harry_potter_graph1.csv

Downloading...
From: https://drive.google.com/uc?id=11Fa9zqDPgDthm3B84My1flWN6r-ffpY0
To: /content/harry_potter_graph1.csv
100% 11.7k/11.7k [00:00<00:00, 16.1MB/s]

### 1.1.2
Load and inspect the dataset: print the list of field names of the dataset and also the total number of rows.

Print also the first and last row of the dataset.

In [ ]:
#YOUR CODE STARTS HERE#
dataset = pd.read_csv('harry_potter_graph1.csv')
print('Field names:')
print(*list(dataset.columns))
for i in range(3): print('')
print('Number of rows')
print(dataset.shape[0])
for i in range(3): print('')
print(dataset.iloc[0])
for i in range(3): print('')
print(dataset.iloc[-1])








#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Field names:
character_1 character_2



Number of rows
406



character_1     Katie Bell
character_2    Oliver Wood
Name: 0, dtype: object



character_1           Mrs Norris
character_2    Quirinus Quirrell
Name: 405, dtype: object

### 1.1.3
Print the sorted list of all character names (without duplicates) in ascending alphabetical order.

Print also the length of this list.

In [ ]:
#YOUR CODE STARTS HERE#
my_set = list(set(list(dataset.character_1) + list(dataset.character_2))) #union of the 2 columns and remove duplicates
my_set = np.array(sorted(my_set)) #sort
for i in range(len(my_set)): print(my_set[i])
for i in range(3): print('')
print('This list has length:')
print(len(my_set))











#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Adalbert Waffling
Adrian Pucey
Alberic Grunnion
Albus Dumbledore
Algie Longbottom
Alicia Spinnet
Angelina Johnson
Arabella Figg
Argus Filch
Arsenius Jigger
Bane
Bathilda Bagshot
Bertie Bott
Blaise Zabini
Bloody Baron
Boa constrictor at the Zoo
Circe
Cliodna
Cornelius Agrippa
Cornelius Fudge
Cuthbert Binns
Dean Thomas
Dedalus Diggle
Dennis
Doris Crockford
Draco Malfoy
Dudley Dursley
Elfric the Eager
Emeric Switch
Emeric the Evil
Enid (disambiguation)
Fang
Fat Friar
Fat Lady
Filius Flitwick
Firenze
Fluffy
Fred Weasley
Garrick Ollivander
Gellert Grindelwald
George Weasley
Gordon
Gregory Goyle
Gregory the Smarmy
Gringotts Head Goblin
Griphook
Hannah Abbott
Harry Potter
Hedwig
Helena Ravenclaw
Hengist of Woodcroft
Hermione Granger
Irma Pince
James Potter I
Jim McGuffin
Justin Finch-Fletchley
Katie Bell
Keeper of the reptile house
Lavender Brown
Lee Jordan
Lily J. Potter
Lily Moon
Lisa Turpin
Malcolm
Mandy Brocklehurst
Marcus Flint
Merlin
Miles Bletchley
Millicent Bulstrode
Minerva McGonagall
Miranda Goshawk
Morag MacDougal
Mr Paws
Mr Tibbles
Mrs Norris
Neville Longbottom
Newton Scamander
Nicholas de Mimsy-Porpington
Nicolas Flamel
Oliver Wood
Owner of the Railview Hotel
Padma Patil
Pansy Parkinson
Parvati Patil
Peeves
Percy Weasley
Perenelle Flamel
Petunia Dursley
Phyllida Spore
Piers Polkiss
Pomona Sprout
Poppy Pomfrey
Ptolemy
Quentin Trimble
Quirinus Quirrell
Rolanda Hooch
Ronald Weasley
Ronan
Rubeus Hagrid
Sally-Anne Perks
Seamus Finnigan
Severus Snape
Sirius Black
Snowy
Sorting Hat
Susan Bones
Ted
Terence Higgs
Terry Boot
Theodore Nott
Tom
Trevor
Tufty
Unicorn
Uric the Oddball
Vernon Dursley
Vincent Crabbe
Vindictus Viridian
Yvonne



This list has length:
119

### 1.1.4
Create the adjacency matrix for the graph, assigning to each character a node identifier equal to the index that the character name has in ascending alphabetical order (remember that the first element of a list in Python has index 0).

In [ ]:
#YOUR CODE STARTS HERE#
adj_matrix = []
for from_ in my_set:    #go over all the characters in the estabilished order
  supp = []
  for to_ in my_set:
    supp.append(sum(list(np.multiply(dataset.character_1 == from_,dataset.character_2 == to_))) + 
                sum(list(np.multiply(dataset.character_2 == from_,dataset.character_1 == to_))))
    #multiply boolean arrays ans sum to see if there is a link between two characters  
  adj_matrix.append(supp)
adj_matrix = np.array(adj_matrix)








#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 1.1.5
Compute the PageRank vector for the obtained graph using a damping factor of 0.8.

In [ ]:
#YOUR CODE STARTS HERE#
damping_factor = 0.8
pagerank = sknetwork.ranking.PageRank(damping_factor=damping_factor, solver="piteration", n_iter=1000, tol=10**-6) #set pagerank model
pagerank_vector = pagerank.fit_transform(adj_matrix)  #compute pagerank for the matrix
 













#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 10
ids = sorted(range(len(pagerank_vector)), reverse = True, key=lambda i: pagerank_vector[i])[0:k]   #sort and take first k
result = pd.DataFrame({'Character': my_set[ids], 'Pagerank score': pagerank_vector[ids]})          #create df
result.index = np.arange(1, len(result)+1)
display(result)


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

             Character  Pagerank score
1         Harry Potter        0.091486
2       Ronald Weasley        0.037713
3        Rubeus Hagrid        0.034323
4     Hermione Granger        0.029205
5     Albus Dumbledore        0.026936
6         Draco Malfoy        0.022058
7   Neville Longbottom        0.021599
8        Severus Snape        0.021282
9       Dudley Dursley        0.018598
10      Vernon Dursley        0.015355

### 1.1.6
Compute the Topic-specific PageRank vector for the obtained graph using a damping factor of 0.9, by considering as topic the Weasley family: a character belongs to the topic if its name contains the string `Weasley`.

In [ ]:
#YOUR CODE STARTS HERE#
topic = {}
damping_factor = 0.9
pagerank_weasley = sknetwork.ranking.PageRank(damping_factor=damping_factor, solver="piteration", n_iter=1000, tol=10**-6)
weasley_id = []
for i in range(len(my_set)): 
  if ' Weasley' in my_set[i]: weasley_id.append(i)    #find index of weasley family members
for id in weasley_id:
      topic[id] = 1. / len(weasley_id)                #compute prob
pagerank_vector_weasley = pagerank_weasley.fit_transform(adj_matrix, seeds = topic)    #compute pagerank for that topic








#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-20 characters according to the Topic-specific PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 20
ids = sorted(range(len(pagerank_vector_weasley)), reverse = True, key=lambda i: pagerank_vector_weasley[i])[0:k]
result = pd.DataFrame({'Character': my_set[ids], 'Pagerank score': pagerank_vector_weasley[ids]})
result.index = np.arange(1, len(result)+1)
display(result)


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

             Character  Pagerank score
1         Harry Potter        0.086388
2       Ronald Weasley        0.075632
3         Fred Weasley        0.048802
4        Percy Weasley        0.048195
5       George Weasley        0.044858
6        Rubeus Hagrid        0.041669
7     Hermione Granger        0.040929
8        Severus Snape        0.031772
9     Albus Dumbledore        0.030667
10  Neville Longbottom        0.028557
11        Draco Malfoy        0.028119
12         Argus Filch        0.018016
13   Quirinus Quirrell        0.017652
14     Filius Flitwick        0.016014
15       Rolanda Hooch        0.015329
16         Oliver Wood        0.013815
17       Poppy Pomfrey        0.013284
18              Peeves        0.013125
19      Vernon Dursley        0.012436
20     Seamus Finnigan        0.012068

### 1.1.7
Compute the Personalized PageRank vector for the obtained graph using a damping factor of 0.1 for each of the *Hogwarts professors*: Albus Dumbledore, Filius Flitwick, Firenze, Minerva McGonagall, Pomona Sprout, Quirinus Quirrell, Rolanda Hooch, Severus Snape.

In [ ]:
#YOUR CODE STARTS HERE#
damping_factor = 0.1
pagerank_vector_profs = {}
pagerank_profs = sknetwork.ranking.PageRank(damping_factor=damping_factor, solver="piteration", n_iter=1000, tol=10**-6)
profs = ['Albus Dumbledore', 'Filius Flitwick', 'Firenze', 'Minerva McGonagall', 'Pomona Sprout', 'Quirinus Quirrell', 'Rolanda Hooch', 'Severus Snape']
for prof in profs:   #go over the profs
  map__page_id__landing_probability = {}
  map__page_id__landing_probability[int(np.where(my_set == prof)[0])] = 1.   #set prob to 1
  pagerank_vector_profs[prof] = pagerank_profs.fit_transform(adj_matrix, seeds=map__page_id__landing_probability)  #compute personal pagerank



















#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

For each of the *Hogwarts professors*, print the name and the PageRank score of the top-3 characters according to the Personalized PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 3
for prof in profs:    #create result df for each prof
  ids = sorted(range(len(pagerank_vector_profs[prof])), reverse = True, key=lambda i: pagerank_vector_profs[prof][i])[0:k]
  result = pd.DataFrame({'Character': my_set[ids], 'Pagerank score': pagerank_vector_profs[prof][ids]})
  result.index = np.arange(1, len(result)+1)
  print(prof+':')
  display(result)
  for i in range(4): print('')









#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Albus Dumbledore:

          Character  Pagerank score
1  Albus Dumbledore        0.901642
2      Harry Potter        0.004358
3     Rubeus Hagrid        0.004001

Filius Flitwick:

         Character  Pagerank score
1  Filius Flitwick        0.901252
2     Harry Potter        0.007522
3    Rubeus Hagrid        0.007391

Firenze:

       Character  Pagerank score
1        Firenze        0.900713
2   Harry Potter        0.018797
3  Rubeus Hagrid        0.018729

Minerva McGonagall:

            Character  Pagerank score
1  Minerva McGonagall        0.900109
2        Harry Potter        0.090238
3      Ronald Weasley        0.000176

Pomona Sprout:

       Character  Pagerank score
1  Pomona Sprout        0.900492
2   Harry Potter        0.023082
3  Rubeus Hagrid        0.023003

Quirinus Quirrell:

           Character  Pagerank score
1  Quirinus Quirrell        0.901369
2       Harry Potter        0.006840
3      Rubeus Hagrid        0.006705

Rolanda Hooch:

       Character  Pagerank score
1  Rolanda Hooch        0.900798
2   Harry Potter        0.009644
3   Marcus Flint        0.009447

Severus Snape:

        Character  Pagerank score
1   Severus Snape        0.900914
2    Harry Potter        0.004711
3  Ronald Weasley        0.004469

### 1.1.8
Compute Topic-specific PageRank for the obtained graph using a damping factor of 0.1. Imagine you are in an **online** context.

The Topic is the Hogwarts professors (list of characters define in step 1.1.7)

In [ ]:
#YOUR CODE STARTS HERE#
topic_2 = {}
damping_factor = 0.1
pagerank_profs_2 = sknetwork.ranking.PageRank(damping_factor=damping_factor, solver="piteration", n_iter=1000, tol=10**-6)
profs_id = []
for prof in profs:   #find indeces of profs
  profs_id.append(int(np.where(my_set==prof)[0]))
for id in profs_id:
      topic_2[id] = 1. / len(profs_id)   #set prob
pagerank_vector_profs_2 = pagerank_profs_2.fit_transform(adj_matrix, seeds = topic_2) #compute pagerank








#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the Topic-specific PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 10
ids = sorted(range(len(pagerank_vector_profs_2)), reverse = True, key=lambda i: pagerank_vector_profs_2[i])[0:k]
result = pd.DataFrame({'Character': my_set[ids], 'Pagerank score': pagerank_vector_profs_2[ids]})
result.index = np.arange(1, len(result)+1)
display(result)


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

             Character  Pagerank score
1     Albus Dumbledore        0.116429
2      Filius Flitwick        0.116061
3        Severus Snape        0.114937
4    Quirinus Quirrell        0.113734
5        Pomona Sprout        0.113486
6              Firenze        0.113058
7        Rolanda Hooch        0.112675
8   Minerva McGonagall        0.112525
9         Harry Potter        0.020649
10       Rubeus Hagrid        0.008062

## Part 1.2

### 1.2.1
**Question 1:**
Define in an explicit way the adjacency matrix of a graph where the node with the highest PageRank (damping factor = 0.8) is not the one with the highest inDegree.

The graph must be directed, unweighted, composed by exactly one connected component, and with no more than 12 nodes.

Rank all the nodes in the graph according to the PageRank score of each node: from the most important to the least important. Print this rank.

Rank all the nodes in the graph according to the inDegree score of each node: from the most important to the least important. Print this rank.

On another line, print the identifier of the node with the highest inDegree score and the identifier of the node with the highest PageRank score.

In [ ]:
#YOUR CODE STARTS HERE#
my_pagerank = sknetwork.ranking.PageRank(damping_factor=0.8, solver="piteration", n_iter=1000, tol=10**-6)
my_adj_matrix = np.array([[0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1],           #create matrix
                          [0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0],
                          [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1],
                          [1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0],
                          [1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1],
                          [0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1],
                          [0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0],
                          [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
                          [1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
                          [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0],
                          [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0],
                          [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0]])            
my_pagerank_vector = my_pagerank.fit_transform(my_adj_matrix)   #pagerank on the matrix
indegree_vector = sum(my_adj_matrix)                            #sum over the columns for in-degree
ids_pr = sorted(range(len(my_pagerank_vector)), reverse = True, key=lambda i: my_pagerank_vector[i])   #order nodes over pagerank
ids_id = sorted(range(len(indegree_vector)), reverse = True, key=lambda i: indegree_vector[i])         #order nodes over in-degree
pr = pd.DataFrame({'node': ids_pr, 'Pagerank score': my_pagerank_vector[ids_pr]})
pr.index = np.arange(1, len(pr)+1)
display(pr)
print('') 
ind = pd.DataFrame({'node': ids_id, 'In-Degree': indegree_vector[ids_id]})
ind.index = np.arange(1, len(ind)+1)
display(ind)
for i in range(3): print('')
print('Node with highest PageRank: ', ids_pr[0])
print('Node with highest InDegree: ', ids_id[0])
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

    node  Pagerank score
1      4        0.137385
2      7        0.102187
3      5        0.092931
4      2        0.089303
5      9        0.088983
6      3        0.084637
7      1        0.083400
8      6        0.067532
9      0        0.066765
10    10        0.064553
11     8        0.062166
12    11        0.060157

    node  In-Degree
1      7         10
2      5          9
3      1          8
4      2          8
5      3          8
6      9          8
7      0          6
8      4          6
9      6          6
10     8          5
11    10          5
12    11          5

Node with highest PageRank:  4
Node with highest InDegree:  7

### 1.2.2
**Question 2:**
Given a graph with `n` nodes, what is the Topic-specific PageRank vector that is obtained when running the Topic-specific PageRank algorithm with damping factor `0`? Is the result dependent on graph topology? **Use at most 3 sentences.**

----------YOUR TEXT STARTS HERE----------

The topic specific Pagerank with dumping factor equal to 0 returns 0 for each node which is not in the topic, and $\frac{1}{\text{Number of nodes in the topic}}$ for the nodes in the topic. Of course this doesn't depend on the graph topology, but only on the division by topics.

# Part 2
In this part of the homework, you have to improve the performance of various recommendation-systems by using non-trivial algorithms and also by performing the tuning of the hyper-parameters.

## Part 2.0
Import here **ALL** the Python packages that you need for Part 2.

In [ ]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
import pickle
import numpy as np
import pandas as pd
from scipy.stats import randint, uniform
import multiprocessing
!pip install scikit-surprise
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)

## Part 2.1
Apply **all** algorithms for recommendation made available by Surprise libraries on the provided dataset **with their default configuration**, and use **ALL** CPU-cores available on the remote machine by specifying the value in an **explicit** way with an integer number.

### 2.1.1
Download the dataset from the Drive link (code already provided).

In [ ]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
#REMOVE_OUTPUT#
!gdown 1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J #download ratings_hw2.csv

Downloading...
From: https://drive.google.com/uc?id=1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J
To: /content/ratings_hw2.csv
100% 1.23M/1.23M [00:00<00:00, 78.9MB/s]

### 2.1.2
Load and inspect the dataset: 
1. Print the list of fields names.
2. For each field, print the minimum and maximum values.
3. Print also the value of the first and last row of the dataset.

In [ ]:
#YOUR CODE STARTS HERE#
# We save the file into a pandas dataFrame called data
data = pd.read_csv("ratings_hw2.csv")

# We save the list of fields names into fields and then we print it
fields = list(data.columns)
print("List of fields: ", fields, end='\n\n')

# Printing maximum and minimum values for each field
for elem in fields:
  print("Max "+elem+": ", data[elem].max())
  print("Min "+elem+": ", data[elem].min())
  print()

# Printing the value of the first and last row using pandas.DataFrame.iloc
print("Value of the first row: ", data.iloc[0].tolist())
print("Value of the last row: ", data.iloc[-1].tolist())

#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

List of fields:  ['User_ID', 'Item_ID', 'Rating']

Max User_ID:  943
Min User_ID:  1

Max Item_ID:  1682
Min Item_ID:  1

Max Rating:  5.0
Min Rating:  3.0

Value of the first row:  [276.0, 559.0, 4.5]
Value of the last row:  [758.0, 319.0, 4.5]

### 2.1.3
Load the dataset into the appropriate scikit-surprise structure.

In [ ]:
#YOUR CODE STARTS HERE#
from surprise import Dataset
from surprise import Reader
file_path = 'ratings_hw2.csv'
print("Loading the dataset...", end = '\t')
reader = Reader(line_format='user item rating', sep=',', rating_scale=[3, 5], skip_lines=1)
data = Dataset.load_from_file(file_path, reader=reader)
print("Done.")
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Loading the dataset...	Done.

### 2.1.4
Initialize a `scikit-surprise` `KFold` object with 5-folds. Set the random_state to **42**.

In [ ]:
#YOUR CODE STARTS HERE#

from surprise.model_selection import KFold

kf = KFold(n_splits=5, random_state=42)



#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

### 2.1.5
Define **all** the algorithms you are going to use

In [ ]:
#YOUR CODE STARTS HERE#
from surprise.model_selection import cross_validate

from surprise.prediction_algorithms.random_pred import NormalPredictor
from surprise.prediction_algorithms.baseline_only import BaselineOnly

from surprise.prediction_algorithms.knns import KNNBasic
from surprise.prediction_algorithms.knns import KNNWithMeans
from surprise.prediction_algorithms.knns import KNNWithZScore
from surprise.prediction_algorithms.knns import KNNBaseline

from surprise.prediction_algorithms.co_clustering import CoClustering

from surprise.prediction_algorithms.slope_one import SlopeOne

from surprise.prediction_algorithms.matrix_factorization import SVD
from surprise.prediction_algorithms.matrix_factorization import SVDpp
from surprise.prediction_algorithms.matrix_factorization import NMF
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 2.1.6
Define the parameter configurations for each selected algorithm.

In [ ]:
#YOUR CODE STARTS HERE#
# NormalPredictor and SlopeOne have no parameters to configure
# parameter configuration for BaselineOnly:
baseline_predictor_options = {'method': "sgd", 'learning_rate': 0.005, 'n_epochs': 20, 'reg': 0.02}
# parameter configuration for Neighborhood Methods
MAXIMUM_number_of_neighbors_to_consider = 40
min_number_of_neighbors_to_consider = 1
# A dictionary of options for the similarity measure:
similarity_options = {'name': "MSD",'user_based': True,'min_support': 3,'shrinkage': 100}
# parameter configuration for Co-clustering
n_cltr_u = n_cltr_i = 3
# parameter configuration for SVD
number_of_factors = 100
use_together_with_baseline_estimator = True
# SVD++
n_factors = n_epochs = 20 # number of epochs is in common with other algorithm
init_mean = 0
init_std_dev = 0.1
lrate_svdpp = 0.007
# NMF
n_fact_nmf = 15
n_epochs_nmf = 50
biased = verbose = False # in common with others
reg_pu = reg_qi = 0.06
reg_bu = reg_bi = lambda_parameter = 0.02 # in common with others
lr_bu = lr_bi = learning_rate = .005 # in common with others
init_low = 0
init_high = 1
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

### 2.1.7
Print the number of CPU cores belonging to the machine on which Colab is running.

In [ ]:
#YOUR CODE STARTS HERE#


# This number (2) will be used in the 2.2.1 and 2.2.2 sections
print("Number of CPU cores belonging to the machine on which Colab is running: ", multiprocessing.cpu_count())



#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Number of CPU cores belonging to the machine on which Colab is running:  2

Run a **5-Folds**-cross-validation for all the selected algorithms, using the parameters configuration that you selected for each algorithm.
Make sure that the cross-validation gives in output the metric measures for each split, as well as fit and test times.

In [ ]:
#YOUR CODE STARTS HERE#
outputs = {}
outputs['Normal Predictor'] = cross_validate(NormalPredictor(), data, measures=['MAE'], cv=kf, verbose=True)
outputs['Baseline Only'] = cross_validate(BaselineOnly(bsl_options=baseline_predictor_options, verbose=True), data, measures=['MAE'], cv=kf, verbose=True)
print("\nKNN inspired algorithms:")
outputs['KNNBasic'] = cross_validate(KNNBasic(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options, verbose=True), data, measures=['MAE'], cv=kf, verbose=True)
outputs['KNNWithMeans'] = cross_validate(KNNWithMeans(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options, verbose=True), data, measures=['MAE'], cv=kf, verbose=True)
outputs['KNNWithZScore'] = cross_validate(KNNWithZScore(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options, verbose=True), data, measures=['MAE'], cv=kf, verbose=True)
outputs['KNNBaseline'] = cross_validate(KNNBaseline(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options, verbose=True), data, measures=['MAE'], cv=kf, verbose=True)
print("\nSlopeOne:")
outputs['SlopeOne'] = cross_validate(SlopeOne(), data, measures=['MAE'], cv=kf, verbose=True)
print("\nCoClustering:")
outputs['CoClustering'] = cross_validate(CoClustering(n_cltr_u=n_cltr_u, n_cltr_i = n_cltr_i, n_epochs= n_epochs, verbose = verbose), data, measures=['MAE'], cv=kf, verbose=True)
print("\nSVD, NMF and SVD++:")
outputs['SVD'] = cross_validate(SVD(n_factors=number_of_factors, biased=use_together_with_baseline_estimator, n_epochs=n_epochs, lr_all=learning_rate, reg_all=lambda_parameter, verbose=verbose), data, measures=['MAE'], cv=kf, verbose=True)
outputs['NMF'] = cross_validate(NMF(n_factors=n_fact_nmf, n_epochs=n_epochs_nmf, biased = biased, reg_pu = reg_pu, reg_qi = reg_qi, reg_bu = reg_bu, reg_bi = reg_bi, lr_bu = lr_bu, lr_bi = lr_bi, init_low = init_low,
                                    init_high = init_high, verbose=verbose), data, measures=['MAE'], cv=kf, verbose=True)
outputs['SVDpp'] = cross_validate(SVDpp(n_factors=n_factors, n_epochs=n_epochs, init_mean= init_mean, init_std_dev = init_std_dev, lr_all=lrate_svdpp, reg_all=lambda_parameter, verbose=verbose), data, measures=['MAE'], cv=kf, verbose=True)
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Evaluating MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6120  0.6157  0.6095  0.6170  0.6098  0.6128  0.0030
Fit time          0.13    0.16    0.16    0.16    0.16    0.15    0.01
Test time         0.15    0.23    0.15    0.14    0.15    0.16    0.03
Estimating biases using sgd...
Estimating biases using sgd...
Estimating biases using sgd...
Estimating biases using sgd...
Estimating biases using sgd...
Evaluating MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3738  0.3742  0.3700  0.3704  0.3727  0.3722  0.0017
Fit time          0.65    0.67    0.68    0.64    0.64    0.66    0.02
Test time         0.18    0.10    0.11    0.18    0.10    0.13    0.04

KNN inspired algorithms:
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3896  0.3915  0.3841  0.3868  0.3884  0.3881  0.0025
Fit time          0.48    0.74    0.54    0.39    0.40    0.51    0.13
Test time         7.30    8.36    3.28    3.18    3.30    5.09    2.27
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3758  0.3765  0.3715  0.3725  0.3754  0.3743  0.0019
Fit time          0.42    0.43    0.46    0.47    0.46    0.45    0.02
Test time         3.31    3.33    3.40    3.46    3.33    3.36    0.06
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3741  0.3743  0.3703  0.3708  0.3735  0.3726  0.0017
Fit time          0.52    0.54    0.52    0.55    0.52    0.53    0.01
Test time         3.43    3.53    3.43    3.50    3.41    3.46    0.05
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3682  0.3691  0.3638  0.3647  0.3679  0.3667  0.0021
Fit time          0.80    0.77    0.78    0.86    0.79    0.80    0.03
Test time         3.73    3.57    4.62    3.62    3.66    3.84    0.39

SlopeOne:
Evaluating MAE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3742  0.3751  0.3708  0.3704  0.3733  0.3728  0.0019
Fit time          0.90    0.93    0.93    0.90    0.90    0.91    0.01
Test time         2.64    2.98    2.64    2.65    2.72    2.73    0.13

CoClustering:
Evaluating MAE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.4412  0.4402  0.4329  0.4373  0.4427  0.4388  0.0035
Fit time          2.14    2.25    2.30    2.26    2.28    2.25    0.05
Test time         0.10    0.19    0.10    0.20    0.11    0.14    0.04

SVD, NMF and SVD++:
Evaluating MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3778  0.3779  0.3737  0.3734  0.3758  0.3757  0.0019
Fit time          4.78    4.79    4.81    4.79    4.83    4.80    0.02
Test time         0.15    0.24    0.16    0.25    0.15    0.19    0.05
Evaluating MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.4104  0.4085  0.4017  0.4039  0.4049  0.4059  0.0032
Fit time          5.27    5.27    5.24    5.27    5.27    5.27    0.01
Test time         0.21    0.13    0.24    0.12    0.16    0.17    0.05
Evaluating MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3725  0.3727  0.3686  0.3691  0.3701  0.3706  0.0017
Fit time          151.33  151.59  151.54  152.07  151.42  151.59  0.26
Test time         3.76    3.88    4.09    3.78    3.82    3.87    0.12

### 2.1.8
Rank all recommendation algorithms you tested according to the mean of the Mean Absolute Error metric value: from the best to the worst algorithm.

In [ ]:
#YOUR CODE STARTS HERE#

mae_dict = {}

# We save each methods mae value in a dictionary of the form {'Method Name': mae value}
for elem in outputs:
  mae_dict[elem] = outputs[elem]['test_mae'][-1]

# We sort the mae_rank dictionary in ascending order -> the less is the mae the better it is
mae_rank = sorted(mae_dict.items(), key = lambda x:x[1])

# We print mae_rank by element
i = 1
for elem in mae_rank:
  print(i, elem[0]+":", elem[1])
  i+=1












#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

1 KNNBaseline: 0.36785233262702105
2 SVDpp: 0.3700516011816283
3 Baseline Only: 0.37271799796325206
4 SlopeOne: 0.37333036408588544
5 KNNWithZScore: 0.37347605913497034
6 KNNWithMeans: 0.3753517116609581
7 SVD: 0.37577417055870266
8 KNNBasic: 0.38836419404838685
9 NMF: 0.4048532403869675
10 CoClustering: 0.44272119273967425
11 Normal Predictor: 0.6098333825723407

## Part 2.2

You will be given several scenarios and different requirements for each of them. By respecting the requirements, you will have to:
1. Setup and print a suitable parameter configurations list;
2. Perform an optimization process to find the best configuration of parameters and print it
3. Use the same dataset as in part 2.1.

### 2.2.1
**Question 1:**
The company A-DMT wants to check **23** possible configurations for the `SVD` recommendation algorithm. The number of parameters specified for the various configurations must be at least 2 and no more than 5.

The company wants to obtain the best configuration among all the 23 configurations, considering the Root Mean Squared Error metric calculated on a cross-validation of **3** folds.

1. Define and print the configurations' dictionary that will be used for the parameter optimization.
2. Find an `SVD` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `SVD` configuration according to the Mean Absolute Error metric.

In [ ]:
#YOUR CODE STARTS HERE#

from surprise.model_selection import RandomizedSearchCV

param_distributions = {
   'n_factors': randint(80, 120),
   'n_epochs': randint(20, 50),
   'biased': [True, False],
   'lr_all': uniform(0.001, 0.01),
   'reg_all': uniform(0.005, 0.05)
}

print("Our configurations' dictionary:", param_distributions, end = '\n\n')
kf = KFold(n_splits=3, random_state=42)

rs = RandomizedSearchCV(SVD, param_distributions=param_distributions, n_iter=23,
                        measures=['mae','rmse'],
                        cv=kf, n_jobs=2, # maximum number of cpu cores available
                        joblib_verbose=1000)

# Let's start the Randomized-Search performing 3-Folds-Cross-Validation
rs.fit(data)

# combination of parameters that gave the best RMSE score
print("\nThe best SVD model configuration given the constraints:", rs.best_params['rmse'], end = '\n\n')

print("The best configuration out performs the default SVD configuration according to the Mean Absolute Error metric:", rs.cv_results['mean_test_mae'][rs.best_index['mae']]<mae_dict['SVD'])

#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

Our configurations' dictionary: {'n_factors': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa6a4b3a450>, 'n_epochs': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa6a4b3a050>, 'biased': [True, False], 'lr_all': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa6a4b3a410>, 'reg_all': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa6a4b3add0>}

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:   18.0s
[Parallel(n_jobs=2)]: Done   2 tasks      | elapsed:   22.4s
[Parallel(n_jobs=2)]: Done   3 tasks      | elapsed:   35.0s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   42.9s
[Parallel(n_jobs=2)]: Done   5 tasks      | elapsed:   55.3s
[Parallel(n_jobs=2)]: Done   6 tasks      | elapsed:  1.1min
[Parallel(n_jobs=2)]: Done   7 tasks      | elapsed:  1.2min
[Parallel(n_jobs=2)]: Done   8 tasks      | elapsed:  1.4min
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:  1.5min
[Parallel(n_jobs=2)]: Done  10 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  11 tasks      | elapsed:  1.7min
[Parallel(n_jobs=2)]: Done  12 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done  13 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done  15 tasks      | elapsed:  2.2min
[Parallel(n_jobs=2)]: Done  16 tasks      | elapsed:  2.3min
[Parallel(n_jobs=2)]: Done  17 tasks      | elapsed:  2.4min
[Parallel(n_jobs=2)]: Done  18 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done  19 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done  20 tasks      | elapsed:  2.7min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  2.8min
[Parallel(n_jobs=2)]: Done  22 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  23 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  24 tasks      | elapsed:  3.4min
[Parallel(n_jobs=2)]: Done  25 tasks      | elapsed:  3.4min
[Parallel(n_jobs=2)]: Done  26 tasks      | elapsed:  3.6min
[Parallel(n_jobs=2)]: Done  27 tasks      | elapsed:  3.7min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  3.8min
[Parallel(n_jobs=2)]: Done  29 tasks      | elapsed:  3.9min
[Parallel(n_jobs=2)]: Done  30 tasks      | elapsed:  4.1min
[Parallel(n_jobs=2)]: Done  31 tasks      | elapsed:  4.2min
[Parallel(n_jobs=2)]: Done  32 tasks      | elapsed:  4.3min
[Parallel(n_jobs=2)]: Done  33 tasks      | elapsed:  4.4min
[Parallel(n_jobs=2)]: Done  34 tasks      | elapsed:  4.6min
[Parallel(n_jobs=2)]: Done  35 tasks      | elapsed:  4.7min
[Parallel(n_jobs=2)]: Done  36 tasks      | elapsed:  4.9min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  4.9min
[Parallel(n_jobs=2)]: Done  38 tasks      | elapsed:  5.0min
[Parallel(n_jobs=2)]: Done  39 tasks      | elapsed:  5.1min
[Parallel(n_jobs=2)]: Done  40 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done  41 tasks      | elapsed:  5.4min
[Parallel(n_jobs=2)]: Done  42 tasks      | elapsed:  5.6min
[Parallel(n_jobs=2)]: Done  43 tasks      | elapsed:  5.6min
[Parallel(n_jobs=2)]: Done  44 tasks      | elapsed:  5.8min
[Parallel(n_jobs=2)]: Done  45 tasks      | elapsed:  5.8min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  6.1min
[Parallel(n_jobs=2)]: Done  47 tasks      | elapsed:  6.2min
[Parallel(n_jobs=2)]: Done  48 tasks      | elapsed:  6.4min
[Parallel(n_jobs=2)]: Done  49 tasks      | elapsed:  6.4min
[Parallel(n_jobs=2)]: Done  50 tasks      | elapsed:  6.6min
[Parallel(n_jobs=2)]: Done  51 tasks      | elapsed:  6.7min
[Parallel(n_jobs=2)]: Done  52 tasks      | elapsed:  6.8min
[Parallel(n_jobs=2)]: Done  53 tasks      | elapsed:  6.9min
[Parallel(n_jobs=2)]: Done  54 tasks      | elapsed:  7.1min
[Parallel(n_jobs=2)]: Done  55 tasks      | elapsed:  7.2min
[Parallel(n_jobs=2)]: Done  56 tasks      | elapsed:  7.4min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  7.6min
[Parallel(n_jobs=2)]: Done  58 tasks      | elapsed:  7.7min
[Parallel(n_jobs=2)]: Done  59 tasks      | elapsed:  7.8min
[Parallel(n_jobs=2)]: Done  60 tasks      | elapsed:  8.0min
[Parallel(n_jobs=2)]: Done  61 tasks      | elapsed:  8.1min
[Parallel(n_jobs=2)]: Done  62 tasks      | elapsed:  8.2min
[Parallel(n_jobs=2)]: Done  63 tasks      | elapsed:  8.3min
[Parallel(n_jobs=2)]: Done  64 tasks      | elapsed:  8.4min
[Parallel(n_jobs=2)]: Done  65 tasks      | elapsed:  8.5min
[Parallel(n_jobs=2)]: Done  66 tasks      | elapsed:  8.6min
[Parallel(n_jobs=2)]: Done  67 out of  69 | elapsed:  8.7min remaining:   15.6s
[Parallel(n_jobs=2)]: Done  69 out of  69 | elapsed:  8.8min remaining:    0.0s
[Parallel(n_jobs=2)]: Done  69 out of  69 | elapsed:  8.8min finished

The best SVD model configuration given the constraints: {'biased': True, 'lr_all': 0.005917863492459631, 'n_epochs': 45, 'n_factors': 87, 'reg_all': 0.028565612038601234}

The best configuration out performs the default SVD configuration according to the Mean Absolute Error metric: True

### 2.2.2
**Question 2:**
The company B-DMT wants to receive a set of possible configurations for `KNNBaseline` recommendation algorithm. The number of configurations must be more than 8 and not more than 36, the number of parameters for each configuration must be exactly 3, and the number of values for each parameter must be between 2 and 6.

The company wants to get the best configuration among all configurations, considering the Mean Squared Error metric calculated on a cross-validation of **5** folds.

1. Print the number of chosen configurations.
2. Define and print the configurations' dictionary with the sets of values for each parameter whose cartesian product gives the chosen configurations.
3. Find a `KNNBaseline` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `KNNBaseline` configuration according to the Mean Absolute Error metric.

In [ ]:
#YOUR CODE STARTS HERE#
from surprise.model_selection import GridSearchCV
print("We want to do a GridSearch on 36 possible configurations", end = '\n\n')
grid_of_parameters = {
   'k': [20, 40, 60, 80, 100, 120],
   'min_k': [1, 5, 10],
   'sim_options': {
       'user_based': [False, True],
       'name': ['MSD'],
       'min_support': [3],
   }
}
print("The configurations' dictionary:", grid_of_parameters, end = '\n\n')
kf = KFold(n_splits=5, random_state=42)

gs = GridSearchCV(KNNBaseline,
                 param_grid=grid_of_parameters,
                 measures=['mae', 'mse'],
                 cv=kf, n_jobs=2, # maximum number of cpu cores available
                 joblib_verbose=10)

# Let's start the Grid-Search performing 5-Folds-Cross-Validation
gs.fit(data)

print("\n\nNumber of chosen configuration (expected 36):", len(gs.cv_results['params']), end = '\n\n')
# combination of parameters that gave the best MSE score
print("Best configuration considering the Mean Square Error:", gs.best_params['mse'], end = '\n\n')
print("The best configuration outperforms the default KNNBaseline according to the Mean Absolute Error metric:", gs.cv_results['mean_test_mae'][gs.best_index['mae']] < mae_dict['KNNBaseline'], end = '\n\n')
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

We want to do a GridSearch on 36 possible configurations

The configurations' dictionary: {'k': [20, 40, 60, 80, 100, 120], 'min_k': [1, 5, 10], 'sim_options': {'user_based': [False, True], 'name': ['MSD'], 'min_support': [3]}}

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:    8.7s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   20.3s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:   37.8s
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:   57.8s
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  1.4min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  2.5min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  3.9min
[Parallel(n_jobs=2)]: Done  68 tasks      | elapsed:  4.8min
[Parallel(n_jobs=2)]: Done  81 tasks      | elapsed:  5.8min
[Parallel(n_jobs=2)]: Done  94 tasks      | elapsed:  6.9min
[Parallel(n_jobs=2)]: Done 109 tasks      | elapsed:  8.2min
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed:  9.5min
[Parallel(n_jobs=2)]: Done 141 tasks      | elapsed: 11.0min
[Parallel(n_jobs=2)]: Done 158 tasks      | elapsed: 12.6min
[Parallel(n_jobs=2)]: Done 177 tasks      | elapsed: 14.4min

Number of chosen configuration (expected 36): 36

Best configuration considering the Mean Square Error: {'k': 40, 'min_k': 5, 'sim_options': {'user_based': True, 'name': 'MSD', 'min_support': 3}}

The best configuration outperforms the default KNNBaseline according to the Mean Absolute Error metric: True

[Parallel(n_jobs=2)]: Done 180 out of 180 | elapsed: 14.6min finished


# Submission instructions

Follow the instructions precisely
1. Run the whole notebook up to this point
  * Click on this text cell and go to Runtime > Run before
  * It is essential that the notebook can be run from start to finish without us having to change anything.
2. Download the current notebook
  * File -> Download -> Download .ipynb
3. Upload the downloaded notebook in the current runtime
  * In the left sidebar menu, open the last tab (Files)
  * Click on the first button under the File title (Page with arrow pointing up)
  * In the new window, upload the notebook just downloaded

4. To turn the notebook into a pdf you need to install a Tex extension. Simply run the next cell of code:

In [ ]:
!apt-get install texlive-xetex texlive-fonts-recommended texlive-plain-generic

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'apt autoremove' to remove them.
The following additional packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-latex-base texlive-latex-extra
  texlive-latex-recommended texlive-pictures tipa
Suggested packages:
  fonts-noto apache2 | lighttpd | httpd poppler-utils ghostscript
  fonts-japanese-mincho | fonts-ipafont-mincho fonts-japanese-gothic
  | fonts-ipafont-gothic fonts-arphic-ukai fonts-arphic-uming fonts-nanum ri
  ruby-dev bundler debhelper gv | postscript-viewer perl-tk xpdf-reader
  | pdf-viewer texlive-fonts-recommended-doc texlive-latex-base-doc
  python-pygments icc-profiles libfile-which-perl
  libspreadsheet-parseexcel-perl texlive-latex-extra-doc
  texlive-latex-recommended-doc texlive-pstricks dot2tex prerex ruby-tcltk
  | libtcltk-ruby texlive-pictures-doc vprerex
The following NEW packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-extra texlive-latex-recommended texlive-pictures
  texlive-plain-generic texlive-xetex tipa
0 upgraded, 46 newly installed, 0 to remove and 42 not upgraded.
Need to get 146 MB of archives.
After this operation, 460 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lato all 2.0-2 [2,698 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 tex-common all 6.09 [33.0 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lmodern all 2.004.5-3 [4,551 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-texgyre all 20160520-1 [8,761 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 javascript-common all 11 [6,066 B]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.8 [18.6 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjs-jquery all 3.2.1-1 [152 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libkpathsea6 amd64 2017.20170613.44572-8ubuntu0.1 [54.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 libpotrace0 amd64 1.14-2 [17.4 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libptexenc1 amd64 2017.20170613.44572-8ubuntu0.1 [34.5 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic/main amd64 rubygems-integration all 1.11 [4,994 B]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ruby2.5 amd64 2.5.1-1ubuntu1.11 [48.6 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby amd64 1:2.5.1 [5,712 B]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 rake all 12.3.1-1ubuntu0.1 [44.9 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-did-you-mean all 1.2.0-2 [9,700 B]
Get:24 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-minitest all 5.10.3-1 [38.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-net-telnet all 0.1.1-2 [12.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-power-assert all 0.3.0-1 [7,952 B]
Get:27 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-test-unit all 3.2.5-1 [61.1 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libruby2.5 amd64 2.5.1-1ubuntu1.11 [3,072 kB]
Get:29 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsynctex1 amd64 2017.20170613.44572-8ubuntu0.1 [41.4 kB]
Get:30 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexlua52 amd64 2017.20170613.44572-8ubuntu0.1 [91.2 kB]
Get:31 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexluajit2 amd64 2017.20170613.44572-8ubuntu0.1 [230 kB]
Get:32 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzzip-0-13 amd64 0.13.62-3.1ubuntu0.18.04.1 [26.0 kB]
Get:33 http://archive.ubuntu.com/ubuntu bionic/main amd64 lmodern all 2.004.5-3 [9,631 kB]
Get:34 http://archive.ubuntu.com/ubuntu bionic/main amd64 preview-latex-style all 11.91-1ubuntu1 [185 kB]
Get:35 http://archive.ubuntu.com/ubuntu bionic/main amd64 t1utils amd64 1.41-2 [56.0 kB]
Get:36 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tex-gyre all 20160520-1 [4,998 kB]
Get:37 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 texlive-binaries amd64 2017.20170613.44572-8ubuntu0.1 [8,179 kB]
Get:38 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-base all 2017.20180305-1 [18.7 MB]
Get:39 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-fonts-recommended all 2017.20180305-1 [5,262 kB]
Get:40 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-base all 2017.20180305-1 [951 kB]
Get:41 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-recommended all 2017.20180305-1 [14.9 MB]
Get:42 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-pictures all 2017.20180305-1 [4,026 kB]
Get:43 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-latex-extra all 2017.20180305-2 [10.6 MB]
Get:44 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-plain-generic all 2017.20180305-2 [23.6 MB]
Get:45 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tipa all 2:1.3-20 [2,978 kB]
Get:46 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-xetex all 2017.20180305-1 [10.7 MB]
Fetched 146 MB in 6s (26.2 MB/s)
Extracting templates from packages: 100%
Preconfiguring packages ...
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155203 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package fonts-lato.
Preparing to unpack .../01-fonts-lato_2.0-2_all.deb ...
Unpacking fonts-lato (2.0-2) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../02-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package tex-common.
Preparing to unpack .../03-tex-common_6.09_all.deb ...
Unpacking tex-common (6.09) ...
Selecting previously unselected package fonts-lmodern.
Preparing to unpack .../04-fonts-lmodern_2.004.5-3_all.deb ...
Unpacking fonts-lmodern (2.004.5-3) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../05-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package fonts-texgyre.
Preparing to unpack .../06-fonts-texgyre_20160520-1_all.deb ...
Unpacking fonts-texgyre (20160520-1) ...
Selecting previously unselected package javascript-common.
Preparing to unpack .../07-javascript-common_11_all.deb ...
Unpacking javascript-common (11) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../08-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../09-libcupsimage2_2.2.7-1ubuntu2.8_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../10-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../11-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../12-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../13-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libjs-jquery.
Preparing to unpack .../14-libjs-jquery_3.2.1-1_all.deb ...
Unpacking libjs-jquery (3.2.1-1) ...
Selecting previously unselected package libkpathsea6:amd64.
Preparing to unpack .../15-libkpathsea6_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libpotrace0.
Preparing to unpack .../16-libpotrace0_1.14-2_amd64.deb ...
Unpacking libpotrace0 (1.14-2) ...
Selecting previously unselected package libptexenc1:amd64.
Preparing to unpack .../17-libptexenc1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package rubygems-integration.
Preparing to unpack .../18-rubygems-integration_1.11_all.deb ...
Unpacking rubygems-integration (1.11) ...
Selecting previously unselected package ruby2.5.
Preparing to unpack .../19-ruby2.5_2.5.1-1ubuntu1.11_amd64.deb ...
Unpacking ruby2.5 (2.5.1-1ubuntu1.11) ...
Selecting previously unselected package ruby.
Preparing to unpack .../20-ruby_1%3a2.5.1_amd64.deb ...
Unpacking ruby (1:2.5.1) ...
Selecting previously unselected package rake.
Preparing to unpack .../21-rake_12.3.1-1ubuntu0.1_all.deb ...
Unpacking rake (12.3.1-1ubuntu0.1) ...
Selecting previously unselected package ruby-did-you-mean.
Preparing to unpack .../22-ruby-did-you-mean_1.2.0-2_all.deb ...
Unpacking ruby-did-you-mean (1.2.0-2) ...
Selecting previously unselected package ruby-minitest.
Preparing to unpack .../23-ruby-minitest_5.10.3-1_all.deb ...
Unpacking ruby-minitest (5.10.3-1) ...
Selecting previously unselected package ruby-net-telnet.
Preparing to unpack .../24-ruby-net-telnet_0.1.1-2_all.deb ...
Unpacking ruby-net-telnet (0.1.1-2) ...
Selecting previously unselected package ruby-power-assert.
Preparing to unpack .../25-ruby-power-assert_0.3.0-1_all.deb ...
Unpacking ruby-power-assert (0.3.0-1) ...
Selecting previously unselected package ruby-test-unit.
Preparing to unpack .../26-ruby-test-unit_3.2.5-1_all.deb ...
Unpacking ruby-test-unit (3.2.5-1) ...
Selecting previously unselected package libruby2.5:amd64.
Preparing to unpack .../27-libruby2.5_2.5.1-1ubuntu1.11_amd64.deb ...
Unpacking libruby2.5:amd64 (2.5.1-1ubuntu1.11) ...
Selecting previously unselected package libsynctex1:amd64.
Preparing to unpack .../28-libsynctex1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexlua52:amd64.
Preparing to unpack .../29-libtexlua52_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexluajit2:amd64.
Preparing to unpack .../30-libtexluajit2_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libzzip-0-13:amd64.
Preparing to unpack .../31-libzzip-0-13_0.13.62-3.1ubuntu0.18.04.1_amd64.deb ...
Unpacking libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Selecting previously unselected package lmodern.
Preparing to unpack .../32-lmodern_2.004.5-3_all.deb ...
Unpacking lmodern (2.004.5-3) ...
Selecting previously unselected package preview-latex-style.
Preparing to unpack .../33-preview-latex-style_11.91-1ubuntu1_all.deb ...
Unpacking preview-latex-style (11.91-1ubuntu1) ...
Selecting previously unselected package t1utils.
Preparing to unpack .../34-t1utils_1.41-2_amd64.deb ...
Unpacking t1utils (1.41-2) ...
Selecting previously unselected package tex-gyre.
Preparing to unpack .../35-tex-gyre_20160520-1_all.deb ...
Unpacking tex-gyre (20160520-1) ...
Selecting previously unselected package texlive-binaries.
Preparing to unpack .../36-texlive-binaries_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package texlive-base.
Preparing to unpack .../37-texlive-base_2017.20180305-1_all.deb ...
Unpacking texlive-base (2017.20180305-1) ...
Selecting previously unselected package texlive-fonts-recommended.
Preparing to unpack .../38-texlive-fonts-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-fonts-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-base.
Preparing to unpack .../39-texlive-latex-base_2017.20180305-1_all.deb ...
Unpacking texlive-latex-base (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-recommended.
Preparing to unpack .../40-texlive-latex-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-latex-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive-pictures.
Preparing to unpack .../41-texlive-pictures_2017.20180305-1_all.deb ...
Unpacking texlive-pictures (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-extra.
Preparing to unpack .../42-texlive-latex-extra_2017.20180305-2_all.deb ...
Unpacking texlive-latex-extra (2017.20180305-2) ...
Selecting previously unselected package texlive-plain-generic.
Preparing to unpack .../43-texlive-plain-generic_2017.20180305-2_all.deb ...
Unpacking texlive-plain-generic (2017.20180305-2) ...
Selecting previously unselected package tipa.
Preparing to unpack .../44-tipa_2%3a1.3-20_all.deb ...
Unpacking tipa (2:1.3-20) ...
Selecting previously unselected package texlive-xetex.
Preparing to unpack .../45-texlive-xetex_2017.20180305-1_all.deb ...
Unpacking texlive-xetex (2017.20180305-1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libjs-jquery (3.2.1-1) ...
Setting up libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up tex-common (6.09) ...
update-language: texlive-base not installed and configured, doing nothing!
Setting up poppler-data (0.4.8-2) ...
Setting up tex-gyre (20160520-1) ...
Setting up preview-latex-style (11.91-1ubuntu1) ...
Setting up fonts-texgyre (20160520-1) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up fonts-lato (2.0-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up ruby-did-you-mean (1.2.0-2) ...
Setting up t1utils (1.41-2) ...
Setting up ruby-net-telnet (0.1.1-2) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up rubygems-integration (1.11) ...
Setting up libpotrace0 (1.14-2) ...
Setting up javascript-common (11) ...
Setting up ruby-minitest (5.10.3-1) ...
Setting up libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-lmodern (2.004.5-3) ...
Setting up ruby-power-assert (0.3.0-1) ...
Setting up texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
update-alternatives: using /usr/bin/xdvi-xaw to provide /usr/bin/xdvi.bin (xdvi.bin) in auto mode
update-alternatives: using /usr/bin/bibtex.original to provide /usr/bin/bibtex (bibtex) in auto mode
Setting up texlive-base (2017.20180305-1) ...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXLIVEDIST...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXMFMAIN...
mktexlsr: Updating /var/lib/texmf/ls-R...
mktexlsr: Done.
tl-paper: setting paper size for dvips to a4: /var/lib/texmf/dvips/config/config-paper.ps
tl-paper: setting paper size for dvipdfmx to a4: /var/lib/texmf/dvipdfmx/dvipdfmx-paper.cfg
tl-paper: setting paper size for xdvi to a4: /var/lib/texmf/xdvi/XDvi-paper
tl-paper: setting paper size for pdftex to a4: /var/lib/texmf/tex/generic/config/pdftexconfig.tex
Setting up texlive-fonts-recommended (2017.20180305-1) ...
Setting up texlive-plain-generic (2017.20180305-2) ...
Setting up texlive-latex-base (2017.20180305-1) ...
Setting up lmodern (2.004.5-3) ...
Setting up texlive-latex-recommended (2017.20180305-1) ...
Setting up texlive-pictures (2017.20180305-1) ...
Setting up tipa (2:1.3-20) ...
Regenerating '/var/lib/texmf/fmtutil.cnf-DEBIAN'... done.
Regenerating '/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST'... done.
update-fmtutil has updated the following file(s):
	/var/lib/texmf/fmtutil.cnf-DEBIAN
	/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST
If you want to activate the changes in the above file(s),
you should run fmtutil-sys or fmtutil.
Setting up texlive-latex-extra (2017.20180305-2) ...
Setting up texlive-xetex (2017.20180305-1) ...
Setting up ruby2.5 (2.5.1-1ubuntu1.11) ...
Setting up ruby (1:2.5.1) ...
Setting up ruby-test-unit (3.2.5-1) ...
Setting up rake (12.3.1-1ubuntu0.1) ...
Setting up libruby2.5:amd64 (2.5.1-1ubuntu1.11) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for tex-common (6.09) ...
Running updmap-sys. This may take some time... done.
Running mktexlsr /var/lib/texmf ... done.
Building format(s) --all.
	This may take some time... done.

5. Now, run the next cell to set some cell tags in the notebook file.

In [ ]:
#REMOVE_CELL#
import nbformat as nbf
from glob import glob
notebooks = glob("/content/**/*.ipynb", recursive=True)

text_search_dict = ["----------YOUR TEXT STARTS HERE----------","#YOUR CODE STARTS HERE#"]

for ipath in notebooks:
    print(ipath)
    ntbk = nbf.read(ipath, nbf.NO_CONVERT)

    for cell in ntbk.cells:
        cell_type = cell['cell_type'] == "code"
      
        cell_tags = cell.get('metadata', {}).get('tags', [])
        cell_tags = set(cell_tags)

        if cell_type == 0: #markdown
          if (cell['source'][0]!="#" and text_search_dict[cell_type] not in cell['source']) or "#REMOVE_CELL#" in cell['source']:
            cell_tags.add("remove_cell")

        else: #code
          if text_search_dict[cell_type] not in cell['source'] or "#REMOVE_CELL#" in cell['source']:
            cell_tags.add("remove_cell")
          elif "#REMOVE_OUTPUT#" in cell['source']:
            cell_tags.add("remove_output")
        
        if len(cell_tags) > 0:
            cell['metadata']['tags'] = list(cell_tags)

    nbf.write(ntbk, ipath)

/content/DMT2022_HW2.ipynb

6. Now, run the next cell to transform the notebook to PDF without the code cells.
  * The file will appear in the menu on the left (refresh if needed). The file should be named `DMT2022-HW2.pdf`
  * Rename this file **Surname1_Surname2_DMT2022HW2_report.pdf** (e.g. Fazzone_Siciliano_DMT2022HW2_report.pdf). Sort the surnames alphabetically.
  * Click on it and using the right button or the three dots at its side, click on download to transfer it to your local PC

In [ ]:
!jupyter nbconvert /content/DMT2022_HW2.ipynb --to pdf --TagRemovePreprocessor.remove_cell_tags='{"remove_cell"}' -TagRemovePreprocessor.remove_all_outputs_tags='{"remove_output"}'

[NbConvertApp] Converting notebook /content/DMT2022_HW2.ipynb to pdf
[NbConvertApp] Writing 107509 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', './notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', './notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 112577 bytes to /content/DMT2022_HW2.pdf

7. Now, download this notebook again and change its name.
  * Go to File -> Download -> Download .ipynb
  * Rename the downloaded notebook **Surname1_Surname2_DMT2022HW2_notebook.ipynb** (e.g. Fazzone_Siciliano_DMT2022HW2_notebook.ipynb). Sort the surnames alphabetically.
  * **!!! Even if you have downloaded it previously, please repeat the operation at this step !!!**

8. Now that you have both files, you need to upload them to Classroom. Only the student with the surname that comes first in alphabetical order **must** upload the files. Only the files uploaded by this student will be graded.